<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Servicio</title>
    <link rel="stylesheet" href="../static/css/servicios.css">
    <link rel="icon" href="../static/image/ico.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="titulo-servicio">Servicio</h1>
    </header>

    <div class="servicios-container">
        <section class="servicio" data-tipo="cabello">
            <img src="../static/image/descarga (5).jpg" alt="image">
            <p class="nombre" id="nameCabello"></p>
            <p>Corte, lavado y peinado.</p>
            <p id="calificacionCabello"></p>
            <p id="duracionCabello"></p>
            <p class="precio" id="precioCabello"></p>
            <p id="frecuenteCabello"></p>
            <button class="agendar-servicio">Agendar servicio</button>
            <button id="comentarioCabello">Comentarios</button>
            <button class="calificar">Calificar</button>
        </section>
        
        <section class="servicio" data-tipo="cabello">
            <img src="../static/image/35 Stylish Teenage Boy's Haircuts_ Cool Photo Examples.jpeg" alt="image">
            <p class="nombre" id="nameNiño"></p>
            <p>Corte, lavado y peinado</p>
            <p id="calificacionNiño"></p>
            <p id="duracionNiño"></p>
            <p class="precio" id="precioNiño"></p>
            <p id="frecuenteNiño"></p>
            <button class="agendar-servicio">Agendar servicio</button>
            <button id="comentarioNiño">Comentarios</button>
            <button class="calificar">Calificar</button>
        </section>
        
        <section class="servicio" data-tipo="barba">
            <img src="../static/image/afeitado.jpg" alt="image">
            <p class="nombre" id="nameAfeitado"></p>
            <p>Afeitado de barba a máquina o con navaja.</p>
            <p id="calificacionAfeitado"></p>
            <p id="duracionAfeitado"></p>
            <p class="precio" id="precioAfeitado"></p>
            <p id="frecuenteAfeitado"></p>
            <button class="agendar-servicio">Agendar servicio</button>
            <button id="comentarioAfeitado">Comentarios</button>
            <button class="calificar">Calificar</button>
        </section>
        
        <section class="servicio" data-tipo="barba">
            <img src="../static/image/arreglo2.jpg" alt="image">
            <p class="nombre" id="nameArreglo"></p>
            <p>Corte y delineado de barba, a máquina y tijera.</p>
            <p id="calificacionArreglo"></p>
            <p id="duracionArreglo"></p>
            <p class="precio" id="precioArreglo"></p>
            <p id="frecuenteArreglo"></p>
            <button class="agendar-servicio">Agendar servicio</button>
            <button id="comentarioArreglo">Comentarios</button>
            <button class="calificar">Calificar</button>
        </section>
    </div>
    <h3>Galeria</h3>
    <div class="galeria-container">
        <section class="galeria" data-tipo-galeria="cabello">
            <img src="../static/image/corte caballero/descarga (3).jpg" alt="image" style="height: 250px;">
            <img src="../static/image/corte caballero/21 Army Hairstyles For Kids to Wear in 2024.jpeg" alt="image" style="height: 350px;">
            <img src="../static/image/corte caballero/Boys Haircut Fade.jpeg" alt="image" style="height: 389px;">
            <img src="../static/image/corte caballero/descarga (6).jpg" alt="image" style="height: 300px;">
            <img src="../static/image/corte caballero/descarga (7).jpg" alt="image" style="height: 350px;">
            <img src="../static/image/corte caballero/22 Stylish Braids for Men with Taper 2024_ Unique Hairstyles with Tapered Fades and Plats.jpg" alt="image" style="height: 420px;">
            <img src="../static/image/corte caballero/descarga (12).jpeg" alt="image" style="height: 300px;">
            <img src="../static/image/corte caballero/descarga (18).jpeg" alt="image" style="height: 330px;">
            <img src="../static/image/corte caballero/descarga (1).jpg" alt="image" style="height: 350px;">
            <img src="../static/image/corte caballero/Top School Haircuts for Boys_ Stylish, Easy-to-Maintain, and Classroom-Ready Looks for 2024.jpeg" alt="image" style="height: 280px;">

        </section>
        <section class="galeria" data-tipo-galeria="barba">
            <img src="../static/image/arreglo de barba/Bald Fade Cut Variations For Stylish Lads.jpg" alt="image" style="height: 280px;">
            <img src="../static/image/arreglo de barba/boys hairstyle.jpg" alt="image" style="height: 350px;">
            <img src="../static/image/arreglo de barba/Corte de cabelo masculino com degradê.jpg" alt="image" style="height: 200px;">
            <img src="../static/image/arreglo de barba/descarga (10).jpg" alt="image" style="height: 300px;">
            <img src="../static/image/arreglo de barba/descarga (11).jpg" alt="image" style="height: 300px;">
            <img src="../static/image/arreglo de barba/🇮🇹BARBA ITALIANA🇮🇹.jpg" alt="image" style="height: 290px;">
            <img src="../static/image/arreglo de barba/descarga (8).jpg" alt="image" style="height: 480px;">
            <img src="../static/image/arreglo de barba/descarga (9).jpg" alt="image" style="height: 389px;">
            <img src="../static/image/arreglo de barba/Hairstyle Tips, Advice, and Trends.jpg" alt="image" style="height: 320px;">
            <img src="../static/image/arreglo de barba/Tumblr.jpg" alt="image" style="height: 250px;">

        </section>
    </div>
    
    <script src="../static/js/servicios.js"></script>
</body>
</html>